{
  "singleQuote": true,
  "semi": false,
  "bracketSameLine": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "tabWidth": 2,
  "printWidth": 80,
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"]
}
