<section
  class="relative mx-auto flex w-5/6 max-w-[1047px] flex-col items-center gap-[30px] lg:w-full"
>
  <span class="font-['Space_Grotesk_Variable'] text-sm font-medium text-white">
    #
  </span>
  <h1 class="font-['Space_Grotesk_Variable'] text-4xl font-bold text-white">
    ¿Qué es Punto&Coma?
  </h1>
  <p class="text-center font-['Kanit'] text-xl font-light text-[#D9D9D9]">
    Este es un proyecto open source con el objetivo de crear una comunidad. Más
    que una marca, Punto&Coma busca hacer referencia a una familia, una familia
    de programadores, diseñadores y aficionados a la informática y la web
    latinoamerican@s. Planeamos ser la mayor comunidad qué una a novatos y
    expertos de todo Latam para generar un ambiente variado y rico en
    colaboración significativa.
  </p>
  <button
    class="button rounded-[30px] bg-violet px-4 py-[10px] font-['Kanit'] text-base font-normal text-black transition duration-300 ease-out hover:bg-violet/90"
  >
    Nuestros Objetivos
  </button>
</section>
