---

function focus(){
  location.href = '#';
  location.href = '#bases';
}

---

<section
  class="relative mx-auto flex w-5/6 max-w-5xl flex-col items-center gap-8 lg:w-full"
>
  <span class="text-sm font-medium text-white"> # </span>
  <h1 class="text-4xl font-bold text-white">¿Qué es Punto&Coma?</h1>
  <p class="text-center text-xl font-light text-white-100">
    Este es un proyecto open source con el objetivo de crear una comunidad. Más
    que una marca, Punto&Coma busca hacer referencia a una familia, una familia
    de programadores, diseñadores y aficionados a la informática y la web
    latinoamerican@s. Planeamos ser la mayor comunidad qué una a novatos y
    expertos de todo Latam para generar un ambiente variado y rico en
    colaboración significativa.
  </p>
  <a
    class="button rounded-4xl bg-violet px-4 py-3 text-base font-normal text-black-dark transition duration-300 ease-out hover:bg-violet/90"
   href="#bases">
    Nuestra Base
  </>
</section>
