---
import Button from './Button.astro'
---

<section class="text-center">
  <h2 class="subtitle">¿Qué es Punto&Coma?</h2>
  <p class="paragraph">
    Este es un proyecto open source con el objetivo de crear una comunidad. Más
    que una marca, Punto&Coma busca hacer referencia a una familia, una familia
    de programadores, diseñadores y aficionados a la informática y la web
    latinoamerican@s. Planeamos ser la mayor comunidad qué una a novatos y
    expertos de todo Latam para generar un ambiente variado y rico en
    colaboración significativa.
  </p>
  <Button
    href="#bases"
    target="_self"
    aria-label="Nuestras bases"
    class="btn-primary mx-auto mt-10 w-fit"
  >
    Nuestras Bases
  </Button>
</section>
