---
import Button from './Button.astro'
---

<section>
  <h2 class="subtitle">¿Qué es Punto&Coma?</h2>
  <p class="paragraph">
    Este es un proyecto open source con el objetivo de crear una comunidad. Más
    que una marca, Punto&Coma busca hacer referencia a una familia, una familia
    de programadores, diseñadores y aficionados a la informática y la web
    latinoamerican@s. Planeamos ser la mayor comunidad qué una a novatos y
    expertos de todo Latam para generar un ambiente variado y rico en
    colaboración significativa.
  </p>
  <Button
    aria-label="Nuestros objetivos"
    class="btn-primary mx-auto mt-10 w-fit"
  >
    Nuestros Objetivos
  </Button>
</section>
