---

---

<section
  class="flex h-[80vh] flex-col items-center justify-center text-center align-middle"
  id="community"
>
  <span class="text-white">#</span>
  <h2 class="my-10 text-4xl font-bold text-white">¿Qué es Punto&Coma?</h2>
  <div class="mx-auto w-10/12 xl:w-7/12">
    <p class="text-xl leading-8 text-[#D9D9D9]">
      Este es un proyecto open source con el objetivo de crear una comunidad.
      Más que una marca, Punto&Coma busca hacer referencia a una familia, una
      familia de programadores, diseñadores y aficionados a la informática y la
      web latinoamerican@s. Planeamos ser la mayor comunidad qué una a novatos y
      expertos de todo Latam para generar un ambiente variado y rico en
      colaboración significativa.
    </p>
  </div>
  <div class="my-10">
    <a
      class="rounded-[30px] bg-violet px-[16px] py-[10px] font-semibold text-black"
      href="#objetivos">Nuestros Objetivos</a
    >
  </div>
</section>
