---
interface Props {
  href?: string | URL
  target?: string
  icon?: string
  class?: string
  'aria-label': string
}

const {
  href,
  target = '_blank',
  icon,
  'aria-label': ariaLabel
} = Astro.props as Props
---

<a
  {...{ href, target }}
  aria-label={ariaLabel}
  class:list={[
    'flex items-center justify-center gap-2 rounded-3xl px-4 py-3 outline-none transition-colors focus:outline-violet/40 sm:px-6',
    Astro.props.class
  ]}
>
  {icon && <img src={icon} class="h-auto w-6" alt={icon} />}

  <span class="font-sm font-semibold">
    <slot />
  </span>
</a>

<style>
  @tailwind utilities;

  @layer utilities {
    .btn-primary {
      @apply bg-violet hover:bg-violet/90 focus:bg-violet/80;
    }

    .btn-secondary {
      @apply border-2 border-violet bg-transparent  text-violet hover:bg-violet/10;
    }
  }
</style>
