---
interface Props {
  title: string
  text: string
  class?: string
}
const { title, text } = Astro.props as Props
---

<article
  class:list={[
    'flex max-w-md transform flex-col gap-3 rounded-2xl p-5 text-white',
    Astro.props.class
  ]}
>
  <img
    width="32px"
    height="32px"
    src="/diversity_3.svg"
    alt="Icono de comunidad"
  />

  <h1 class="text-xl font-bold">{title}</h1>

  <p class="max-w-prose text-sm leading-6">
    {text}
  </p>
</article>

<style>
  article {
    box-shadow: 0 1rem 2rem -1rem black;
    background-image: linear-gradient(110deg, #0e0e0e, #181818, #ae81e9);
  }
</style>
