---
import Card from './Card.astro'
import { frontmatter } from '../docs/Card.md'
const { hero, items } = frontmatter
---

<section class="flex flex-col justify-center gap-12">
  <h2 class="subtitle">
    {hero}
  </h2>

  <div class="flex flex-wrap justify-center gap-8">
    {items.map((d: { title: string; text: string }) => <Card {...d} />)}
  </div>
</section>
