---
const { title, text, variant } = Astro.props
---

<div
  class=`card w-[100%] md:w-[320px] lg:w-[434px] min-h-[${variant === "1" ? '242px' : '312px'}] p-5 flex flex-col gap-3.5 rounded-2xl`
>
  <img class="h-[32px] w-[32px]" src="/diversity_3.svg" alt="icon" />

  <h2 class="text-[20px] font-bold text-[#FFFFFF]">{title}</h2>

  <p
    class="max-w-[368px] text-base font-normal leading-[20.42px] text-[#FFFFFF]"
  >
    {text}
  </p>
</div>

<style>
  .card {
    background-image: linear-gradient(110deg, #0e0e0e, #181818, #ae81e9);
  }
</style>
