---

---

<section class="mb-10 text-center">
  <h2 class="my-10 text-4xl font-bold text-white">Nuestra comunidad</h2>
  <div class="mx-auto w-10/12 xl:w-7/12">
    <p class="text-xl leading-8 text-[#D9D9D9]">
      Este proyecto esta siendo realizado netamente por su comunidad, propios
      programadores, diseñadores y aficionados al mundo de la web y la
      informática. Tales qué, como debe ser, buscan unir a colegas de todo el
      mundo para consolidar esta comunidad como eje central de toda Latam y
      colocar el nombre de la programación en Latinoamerica un puesto cada vez
      más arriba.
    </p>
  </div>
</section>
