<section>
  <h2 class="subtitle">Nuestra comunidad</h2>
  <p class="paragraph">
    Este proyecto esta siendo realizado netamente por su comunidad, propios
    programadores, diseñadores y aficionados al mundo de la web y la
    informática. Tales qué, como debe ser, buscan unir a colegas de todo el
    mundo para consolidar esta comunidad como eje central de toda Latam y
    colocar el nombre de la programación en Latinoamérica un puesto cada vez más arriba.
  </p>
</section>
