---
const urlDiscord = 'https://discord.gg/AET9Mp5Y'
const urlLinkedin = '/'
const urlGithub = 'https://github.com/Punto-Coma'
const urlTwitter = 'https://twitter.com/puntoycomaCo_'
---

<footer
  class="flex w-full items-center justify-between py-12 text-white max-md:flex-col max-md:justify-center max-md:gap-10 md:px-20"
>
  <div class="flex flex-wrap items-center justify-center gap-1">
    <img
      width="55rem"
      height="55rem"
      src="/favicon.svg"
      alt="Punto&Coma Logo"
      class="brightness-0 invert filter"
    />
    <p class="max-[310px]:text-center">
      De latinoamerica para el mundo <br />¿Qué esperas para unirte?
    </p>
  </div>
  <div class="flex flex-col items-center justify-center gap-2 lg:flex-row">
    <p class="text-center">Seguinos en:</p>
    <div class="flex flex-wrap items-center justify-center gap-2 lg:ml-10">
      <!-- Button Discord -->
      <a
        href={urlDiscord}
        target="_blank"
        class="rounded-full border-2 border-violet drop-shadow-[0_0_4px_violet]"
      >
        <svg
          class="h-12 w-12 stroke-violet stroke-2 p-1 transition-all hover:scale-105"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 64 64"
          fill="none"
        >
          <path
            d="M14.55 40.17c3.53 2.67 8.86 5.46 17.45 5.46s13.92-2.79 17.45-5.46"
          ></path>
          <path d="M48 22.18c-4.31-2.2-8.57-4.26-16-4.26S20.33 20 16 22.18"
          ></path><path
            d="m27.32 18.23-1.87-3.68a22.75 22.75 0 0 0-10.9 4.36S9 27 8 42.91c5.63 6.49 14.18 6.54 14.18 6.54L25.5 45"
          ></path><path
            d="m38.5 45 3.32 4.42s8.55-.02 14.18-6.51c-1-15.9-6.55-24-6.55-24s-5-3.92-10.9-4.36l-1.82 3.69"
          ></path><ellipse cx="24.91" cy="34.18" rx="3.82" ry="4.36"
          ></ellipse><ellipse cx="39.09" cy="34.18" rx="3.82" ry="4.36"
          ></ellipse>
        </svg>
      </a>
      <!-- Button Linkedin -->
      <!--
        <a
          href={urlLinkedin}
          target="_blank"
          class="rounded-full border-2 border-violet drop-shadow-[0_0_4px_violet]"
        >
          <svg
            class="h-12 w-12 fill-violet p-2"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 50 50"
          >
            <path
              d="M 9 4 C 6.2504839 4 4 6.2504839 4 9 L 4 41 C 4 43.749516 6.2504839 46 9 46 L 41 46 C 43.749516 46 46 43.749516 46 41 L 46 9 C 46 6.2504839 43.749516 4 41 4 L 9 4 z M 9 6 L 41 6 C 42.668484 6 44 7.3315161 44 9 L 44 41 C 44 42.668484 42.668484 44 41 44 L 9 44 C 7.3315161 44 6 42.668484 6 41 L 6 9 C 6 7.3315161 7.3315161 6 9 6 z M 14 11.011719 C 12.904779 11.011719 11.919219 11.339079 11.189453 11.953125 C 10.459687 12.567171 10.011719 13.484511 10.011719 14.466797 C 10.011719 16.333977 11.631285 17.789609 13.691406 17.933594 A 0.98809878 0.98809878 0 0 0 13.695312 17.935547 A 0.98809878 0.98809878 0 0 0 14 17.988281 C 16.27301 17.988281 17.988281 16.396083 17.988281 14.466797 A 0.98809878 0.98809878 0 0 0 17.986328 14.414062 C 17.884577 12.513831 16.190443 11.011719 14 11.011719 z M 14 12.988281 C 15.392231 12.988281 15.94197 13.610038 16.001953 14.492188 C 15.989803 15.348434 15.460091 16.011719 14 16.011719 C 12.614594 16.011719 11.988281 15.302225 11.988281 14.466797 C 11.988281 14.049083 12.140703 13.734298 12.460938 13.464844 C 12.78117 13.19539 13.295221 12.988281 14 12.988281 z M 11 19 A 1.0001 1.0001 0 0 0 10 20 L 10 39 A 1.0001 1.0001 0 0 0 11 40 L 17 40 A 1.0001 1.0001 0 0 0 18 39 L 18 33.134766 L 18 20 A 1.0001 1.0001 0 0 0 17 19 L 11 19 z M 20 19 A 1.0001 1.0001 0 0 0 19 20 L 19 39 A 1.0001 1.0001 0 0 0 20 40 L 26 40 A 1.0001 1.0001 0 0 0 27 39 L 27 29 C 27 28.170333 27.226394 27.345035 27.625 26.804688 C 28.023606 26.264339 28.526466 25.940057 29.482422 25.957031 C 30.468166 25.973981 30.989999 26.311669 31.384766 26.841797 C 31.779532 27.371924 32 28.166667 32 29 L 32 39 A 1.0001 1.0001 0 0 0 33 40 L 39 40 A 1.0001 1.0001 0 0 0 40 39 L 40 28.261719 C 40 25.300181 39.122788 22.95433 37.619141 21.367188 C 36.115493 19.780044 34.024172 19 31.8125 19 C 29.710483 19 28.110853 19.704889 27 20.423828 L 27 20 A 1.0001 1.0001 0 0 0 26 19 L 20 19 z M 12 21 L 16 21 L 16 33.134766 L 16 38 L 12 38 L 12 21 z M 21 21 L 25 21 L 25 22.560547 A 1.0001 1.0001 0 0 0 26.798828 23.162109 C 26.798828 23.162109 28.369194 21 31.8125 21 C 33.565828 21 35.069366 21.582581 36.167969 22.742188 C 37.266572 23.901794 38 25.688257 38 28.261719 L 38 38 L 34 38 L 34 29 C 34 27.833333 33.720468 26.627107 32.990234 25.646484 C 32.260001 24.665862 31.031834 23.983076 29.517578 23.957031 C 27.995534 23.930001 26.747519 24.626988 26.015625 25.619141 C 25.283731 26.611293 25 27.829667 25 29 L 25 38 L 21 38 L 21 21 z"
            ></path>
          </svg>
        </a>
       -->
      <!-- Button Github -->
      <a
        href={urlGithub}
        target="_blank"
        class="rounded-full border-2 border-violet drop-shadow-[0_0_4px_violet]"
      >
        <svg
          class="h-12 w-12 fill-violet p-2 transition-all hover:scale-125"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 50 50"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M23.9991 8.0054C15.1645 8.0054 8 15.1687 8 24.0045C8 31.0739 12.5838 37.0691 18.9411 39.1857C19.7413 39.3339 20.0354 38.8378 20.0354 38.415C20.0354 38.0335 20.0194 36.7733 20.0129 35.4374C15.5614 36.4054 14.623 33.5489 14.623 33.5489C13.8954 31.6993 12.8466 31.2074 12.8466 31.2074C11.395 30.2134 12.9571 30.2353 12.9571 30.2353C14.5633 30.3475 15.409 31.883 15.409 31.883C16.837 34.329 19.1531 33.6209 20.0655 33.2128C20.2096 32.1788 20.623 31.4725 21.0812 31.0727C17.5273 30.6694 13.7915 29.297 13.7915 23.1659C13.7915 21.4196 14.4175 19.9917 15.4397 18.872C15.2732 18.4681 14.7252 16.8417 15.5939 14.6383C15.5939 14.6383 16.9373 14.2078 19.9952 16.2783C21.2708 15.9246 22.6391 15.7462 23.9979 15.7403C25.3579 15.7462 26.7286 15.924 28.006 16.2783C31.0597 14.209 32.402 14.6383 32.402 14.6383C33.2719 16.8423 32.7262 18.4698 32.5597 18.872C33.5855 19.9917 34.2062 21.4196 34.2062 23.1659C34.2062 29.3111 30.4621 30.6622 26.9004 31.0585C27.4745 31.5546 27.9871 32.5284 27.9871 34.0201C27.9871 36.1597 27.9688 37.8841 27.9688 38.4102C27.9688 38.836 28.257 39.3339 29.0684 39.1779C35.422 37.0603 40 31.0644 40 23.9991C40 15.1645 32.8367 8 24.0003 8L23.9991 8.0054Z"
            fill="white"
            fill-opacity="0.02"></path>
          <path
            d="M23.9991 8.5054H24.4002L24.4002 8.50506C32.7756 8.71723 39.5 15.5743 39.5 23.9991C39.5 30.8305 35.0818 36.6309 28.9437 38.6924C28.673 38.7382 28.5781 38.6673 28.5512 38.6428C28.5077 38.6031 28.4688 38.5222 28.4688 38.4102C28.4688 38.2375 28.4708 37.9344 28.4734 37.5269C28.4748 37.3185 28.4764 37.0827 28.4779 36.8232C28.4825 36.0584 28.4871 35.0913 28.4871 34.0201C28.4871 32.9357 28.2343 32.07 27.8521 31.4343C29.3901 31.1853 30.9579 30.6988 32.2097 29.6516C33.7311 28.3788 34.7062 26.348 34.7062 23.1659C34.7062 21.4068 34.1164 19.9366 33.13 18.7639C33.3598 18.041 33.6595 16.4625 32.8671 14.4548L32.7801 14.2343L32.5543 14.1621L32.402 14.6383C32.5543 14.1621 32.5538 14.1619 32.5533 14.1618L32.5523 14.1615L32.5502 14.1608L32.5456 14.1594L32.5349 14.1562C32.527 14.154 32.5178 14.1515 32.5072 14.1489C32.486 14.1436 32.4593 14.1377 32.4271 14.1319C32.3626 14.1202 32.2762 14.1091 32.1673 14.1041C31.9493 14.0942 31.6437 14.1092 31.2459 14.1931C30.4838 14.3539 29.3873 14.7666 27.9166 15.7366C26.6578 15.4094 25.3226 15.246 24.0001 15.2403L23.9958 15.2403C22.6742 15.2461 21.3413 15.41 20.0845 15.7366C18.6117 14.766 17.5138 14.3532 16.7508 14.1926C16.3526 14.1088 16.0468 14.0939 15.8285 14.1039C15.7196 14.109 15.6331 14.1202 15.5685 14.1319C15.5363 14.1377 15.5096 14.1436 15.4884 14.1489C15.4778 14.1516 15.4686 14.1541 15.4607 14.1563L15.45 14.1595L15.4454 14.1609L15.4433 14.1615L15.4423 14.1619C15.4418 14.162 15.4413 14.1622 15.5939 14.6383L15.4413 14.1622L15.2156 14.2345L15.1287 14.4549C14.3367 16.4638 14.6396 18.0421 14.8696 18.7643C13.8866 19.9361 13.2915 21.4058 13.2915 23.1659C13.2915 26.3409 14.2644 28.3728 15.7817 29.6498C17.0322 30.7022 18.599 31.1946 20.1363 31.4473C19.9063 31.8339 19.7246 32.305 19.6179 32.8571C19.1911 33.0195 18.5945 33.1754 17.975 33.1202C17.2616 33.0566 16.4729 32.7114 15.8429 31.6344L15.8415 31.6319L15.8308 31.6135C15.822 31.5984 15.8098 31.5778 15.7941 31.5526C15.7627 31.5022 15.7174 31.4327 15.6582 31.3501C15.5404 31.1856 15.3651 30.9659 15.1326 30.7415C14.6711 30.2959 13.9533 29.8037 12.9919 29.7365L12.978 29.7355L12.9641 29.7353L12.9571 30.2353C12.9641 29.7353 12.9639 29.7353 12.9637 29.7353L12.9634 29.7353L12.9625 29.7353L12.9604 29.7353L12.9545 29.7353L12.9361 29.7353C12.9212 29.7354 12.9007 29.7357 12.8759 29.7366C12.8269 29.7382 12.7587 29.7419 12.6815 29.7504C12.5471 29.765 12.3096 29.8008 12.1105 29.9139C12.0056 29.9735 11.8651 30.0806 11.7855 30.2628C11.6991 30.4606 11.7204 30.6625 11.7903 30.8293C11.9093 31.1134 12.197 31.3686 12.5641 31.6199L12.5976 31.6428L12.6293 31.6577C12.6295 31.6578 12.6297 31.6579 12.6298 31.658C12.6323 31.6593 12.638 31.6622 12.6465 31.6671C12.6649 31.6775 12.6968 31.6966 12.7396 31.7259C12.8252 31.7844 12.9547 31.8839 13.1079 32.0376C13.412 32.3425 13.8163 32.8675 14.1541 33.7227L14.1548 33.7246C14.1581 33.7339 14.1624 33.7458 14.168 33.7603C14.1791 33.7892 14.195 33.8281 14.2162 33.8752C14.2586 33.9693 14.323 34.0972 14.4149 34.2446C14.5986 34.5393 14.8947 34.9158 15.3487 35.2562C16.1922 35.8886 17.5142 36.348 19.5164 36.0385C19.5201 36.5728 19.5246 37.0709 19.5283 37.4794C19.5323 37.9142 19.5354 38.2476 19.5354 38.415C19.5354 38.5216 19.4972 38.6032 19.4513 38.6451C19.4216 38.6722 19.3258 38.7415 19.0639 38.6995C12.9229 36.6385 8.5 30.8391 8.5 24.0045C8.5 15.4449 15.4406 8.5054 23.9991 8.5054Z"
            stroke="#9747FF"></path>
        </svg>
      </a>
      <!-- Button Twitter -->
      <a
        href={urlTwitter}
        target="_blank"
        class="rounded-full border-2 border-violet drop-shadow-[0_0_4px_violet]"
      >
        <svg
          class="h-12 w-12 fill-violet p-2 transition-all hover:scale-125"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 50 50"
        >
          <path
            d="M30.0836 15H33.2149L26.3737 22.8194L34.4221 33.4596H28.1201L23.1844 27.0062L17.5367 33.4596H14.4033L21.7207 25.0959L14 15H20.4616L24.9232 20.8985L30.0836 15ZM28.9844 31.5851H30.7197L19.5189 16.776H17.657L28.9844 31.5851Z"
            fill="#AE81E9"></path>
        </svg>
      </a>
    </div>
  </div>
</footer>
