---
import Button from '@/components/Button.astro'
---

<section
  class="flex h-screen items-center justify-center bg-gradient-to-b from-violet/30 to-black"
>
  <div class="fixed -z-10 flex w-full justify-between">
    <img src="./hero.svg" />
    <img src="./hero.svg" class="hidden -scale-x-100 md:block lg:block" />
  </div>
  <div class="flex flex-col items-center text-center">
    <span class="text-sm text-white md:text-base xl:text-lg"
      >Aprende haciendo. Crea conociendo.</span
    >
    <h2 class="mb-4 mt-8 text-xl text-white md:text-4xl xl:text-5xl">
      Más que un código, creamos
    </h2>
    <h3 class="mb-8 text-2xl font-bold text-violet md:text-5xl xl:text-6xl">
      conexiones significativas
    </h3>
    <span class="mb-8 px-4 text-base text-white xl:text-lg"
      >En Punto&Coma somos personas del mundo it, trabajando en conjunto para
      proyectos open source.</span
    >

    <Button
      url="https://discord.gg/92E4Xauv"
      text="Unite a la comunidad"
      icon="./discord.svg"
      filled="bg-violet"
    />
  </div>
</section>
