---
import MarqueeUsers from '@/components/MarqueeUsers'
---

<div class="relative my-32">
  <div class="my-auto">
    <MarqueeUsers />
  </div>
  <div
    class="absolute left-1/2 top-1/2 z-10 h-[250px] w-[250px] -translate-x-1/2 -translate-y-1/2 transform rounded-full bg-violet opacity-10 blur-lg"
  >
  </div>

  <div class="relative z-20 py-16 text-center">
    <p class="text-6xl font-bold text-white">+1500</p>
    <p class="text-6xl font-bold text-white">miembros</p>
  </div>
</div>
