---

import Button from '@/components/Button.astro'

---

<header class="fixed z-10 w-screen py-4 backdrop-blur-sm">
    <nav class="flex flex-row justify-around items-center">
        <img src="./favicon.svg" alt="logo" class="xl:w-16 md:w-12 sm:w-10"/>
        <div class="flex gap-4">
            <Button url="https://github.com/Punto-Coma" text="Colaborá" icon="./github.svg"></Button>
            <Button url="https://discord.gg/92E4Xauv" text="Unite" icon="./discord.svg" filled="bg-violet"><Button>
        </div>
    </nav>
</header>