---
const { img, username } = Astro.props
---

<div
  class="flex items-center justify-center gap-4 rounded-2xl border border-white px-4 py-2"
>
  <img src={img} alt="username-pfp" class="w-8 rounded-full" />
  <span class="font-bold text-white">{username}</span>
</div>
