---
import MarqueeUser from './MarqueeUser.astro'
import users from '@/data/users.json'

let shuffled = users
  .map((value) => ({ value, sort: Math.random() }))
  .sort((a, b) => a.sort - b.sort)
  .map(({ value }) => value)
---

<div class="relative flex flex-row items-center">
  <div class="absolute z-30 w-full text-center">
    <span
      class="text-center align-middle text-3xl font-bold text-white shadow-violet drop-shadow-violet xl:text-5xl"
    >
      +1700 miembros
    </span>
  </div>
  <div class="w-full brightness-[.3]">
    <MarqueeUser users={users} />
    <MarqueeUser reverse={true} users={users} />
    <MarqueeUser users={shuffled} />
  </div>
</div>
