---
import MarqueeUser from "./MarqueeUser.astro";
import users from '@/data/users.json';

let shuffled = users
    .map(value => ({ value, sort: Math.random() }))
    .sort((a, b) => a.sort - b.sort)
    .map(({ value }) => value)
---

<div class="flex flex-row items-center">
    <div class="absolute w-full text-center z-30">
        <span class="font-bold text-center align-middle text-white xl:text-5xl text-3xl drop-shadow-violet shadow-violet">+1700 usuarios</span>
    </div>
    <div class="brightness-[.3] w-full">
        <MarqueeUser client:load users={users} />
        <MarqueeUser client:load reverse={true} users={users} />
        <MarqueeUser client:load users={shuffled} />
    </div>
</div>
