---
import '@fontsource/sora'
import MetaTags from '@/components/MetaTags.astro'
import Footer from '@/components/Footer.astro'
import Navbar from '@/components/Navbar.astro'

const {
  title = '¡Únete a la Comunidad Punto&Coma en Discord y Potencia Tu Carrera en IT!',
  description = 'En el dinámico mundo de la tecnología, dar el primer paso en tu carrera IT puede ser desafiante. Reconociendo esta barrera, he creado Punto&Coma, una comunidad en Discord dedicada a fomentar el aprendizaje colaborativo y la experiencia práctica a través del desarrollo de proyectos open source.',
  img = Astro.url,
  url = Astro.url
} = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <MetaTags {...{ title, description, img, url }} />
  </head>

  <body class="bg-black-dark bg-gradient-to-b from-violet/20 to-violet/0">
    <div
      class="pointer-events-none absolute -z-50 flex w-full justify-between blur-sm lg:blur-none"
    >
      <img src="./hero.svg" />
      <img src="./hero.svg" class="hidden -scale-x-100 md:block" />
    </div>

    <Navbar />
    <div class="container mx-auto w-11/12 max-w-screen-lg">
      <main class="flex flex-col items-center gap-20">
        <slot />
      </main>
    </div>
    <Footer />

    <style is:global>
      body,
      html {
        @apply min-h-screen overflow-x-hidden font-serif;
      }

      .paragraph {
        @apply max-w-prose text-xl leading-8 text-white-100 md:text-center;
      }

      .subtitle {
        @apply relative mx-auto my-10 flex w-fit items-center text-2xl font-bold text-white md:text-4xl;
      }
      .subtitle::before {
        content: '#';
        @apply invisible absolute -left-6 text-base hover:visible;
      }

      /* If you won't text to be violet instead use bold tag (<b>) */
      strong {
        @apply text-violet;
      }
    </style>
  </body>
</html>
