---
import MetaTags from '@/components/MetaTags.astro'
import '@fontsource/sora'
import Footer from '@/components/Footer.astro'
import Navbar from '@/components/Navbar.astro'
import Users from '@/components/Users.astro'
import FAQ from '@/components/FAQ.astro'

const {
  title = '¡Únete a la Comunidad Punto&Coma en Discord y Potencia Tu Carrera en IT!',
  description = 'En el dinámico mundo de la tecnología, dar el primer paso en tu carrera IT puede ser desafiante. Reconociendo esta barrera, he creado Punto&Coma, una comunidad en Discord dedicada a fomentar el aprendizaje colaborativo y la experiencia práctica a través del desarrollo de proyectos open source.',
  img = Astro.url,
  url = Astro.url
} = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <MetaTags {...{ title, description, img, url }} />
  </head>

  <body
    class="bg-black-dark min-h-screen bg-gradient-to-b from-violet/20 to-violet/0 font-serif"
  >
    <div class="absolute -z-10 flex w-full justify-between">
      <img src="./hero.svg" />
      <img src="./hero.svg" class="hidden -scale-x-100 md:block lg:block" />
    </div>

    <Navbar />
    <slot />

    <div class="flex h-screen flex-col justify-evenly">
      <Users />
      <FAQ class="mx-auto w-11/12" />
    </div>
    <Footer />
  </body>
</html>
